@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

/* Menu bar */

#menu {
  z-index: 2;
}

#menu-bar {
  width: 45px;
  height: 40px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: #dc052d;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.nav {
  transition: 0.3s ease;
  display: none;
}

.nav ul {
  padding: 0 22px;
}

.nav li {
  list-style: none;
  padding: 12px 0;
  text-align: start;
}

.nav li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.nav li a:hover {
  font-weight: bold;
}

.menu-bg,
#menu {
  top: 0;
  left: 0;
  position: absolute;
}

.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  background: radial-gradient(circle, #dc052d, #dc052d);
  border-radius: 50%;
  transition: 0.3s ease;
}

.change {
  display: block;
}

.change .bar {
  background-color: white;
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
  width: 520px;
  height: 460px;
  transform: translate(-60%, -30%);
}

.container {
  display: grid;
  place-items: center;
  height: 100vh; /* Adjust as needed */
}

.content {
  padding: 14%;
  /* max-width: 60%; */
  text-align: start;
  font-family: Arial, sans-serif;
  font-size: 18px;
}

/* Main */
body {
  margin: 0;
  font-family: "Poppins";
}

body header {
  position: sticky;
  top: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

a:link, a:visited {
  color: #dc052d;
}

a:hover {
  font-weight: bold;
}

h1 {
  font-family: "Comfortaa", cursive;
  font-weight: 400;
  font-size: 1.7rem;
}

h2 {
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
}

h3 {
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
}

h4 {
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
}

b {
  font-family: "Poppins";
  font-weight: 600;
}

ul,
li {
  padding: 0;
  list-style-type: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  column-gap: 30px;
}

header {
  grid-column: span 3;
  text-align: center;
  /* border-bottom: 1px solid #ddd; */
  position: relative; /* added this line */
}

.cat {
  padding: 30px;
  /* border-right: 1px solid #ddd; */
}

.cat li {
  text-decoration: underline;
}

article {
  padding: 30px;
}

article h2 {
  font-size: 3.5rem;
  max-width: 800px;
}

article img {
  width: 100%;
}

article p {
  margin-top: 30px;
  line-height: 2em;
  /* color: #777; */
}

aside {
  padding: 30px;
  /* border-left: 1px solid #ddd; */
}

footer {
  grid-column: span 3;
  text-align: center;
  /* border-top: 1px solid #ddd; */
  padding: 30px;
}

/* reponsive */

@media screen and (max-width: 1200px) {
  .cat {
    grid-column: span 3;
    border-right: 0;
    border-bottom: 1px solid #ddd;
  }

  .cat li {
    display: inline-block;
    margin-right: 10px;
  }

  article {
    grid-column: span 2;
  }

  aside {
    padding: 16px;
  }
}

@media screen and (max-width: 900px) {
  .cat,
  article,
  aside {
    grid-column: span 3;
  }

  aside {
    border-left: 0;
    border-top: 1px solid #ddd;
  }

  article h2 {
    font-size: 2.5em;
  }
}

/* dark theme */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.toggle-label {
  margin-right: 10px;
}

@media screen and (max-width: 580px) {
  .toggle-label{
    font-size: 0px;
  }
}

.switch {
  display: flex;
  position: absolute; 
  top: 50%; 
  right: 10px;
  align-items: center;
  transform: translateY(-50%);
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  top: auto;
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

input[type="checkbox"]:checked + .toggle-slider {
  background-color: #dc052d;
}

input[type="checkbox"]:checked + .toggle-slider:before {
  transform: translateX(20px);
}

/* Dark Mode Styles */
[data-theme="dark"] {
  --background-color: #222;
  --text-color: #fff;
}

[data-theme="light"] {
  --background-color: #fff;
  --text-color: #000000;
}
